<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments :: title(|Best of the year by ${name}|)}" />
</head>

<body>
    <header>
        <h1>songs page</h1>
    </header>

    <main>
        <th:block th:each="song : ${songList}">
            <section>
                <h3>[[*{song.title}]]</h3>
                <div>
                    <a th:href="@{/songs/{id}(id=${song.id})}">apri</a>
                </div>

                <a href="/">torna alla home</a>
            </section>
        </th:block>
    </main>

    <footer>

    </footer>
</body>